@import url('https://fonts.googleapis.com/css2?family=Aleo&family=Magra:wght@700&family=Red+Hat+Text&display=swap');

* {
    margin: auto;
}

h2 {
    color: #f2785c;
    font-family: 'Red Hat Text';
    font-style: normal;
}

@media (min-width: 390px) {
    html {
        scroll-behavior: smooth;

        /* свойство scroll-behavior не наследуется, применяется к прокручиваемым блокам */
    }


    h2 {

        font-weight: 600;
        font-size: 40px;
        line-height: 53px;
        /* identical to box height */
        letter-spacing: 0.6px;

    }

    a {
        cursor: pointer;
        text-decoration: none;

    }

    button {
        cursor: pointer;
        transition: .5s ease-in-out;
    }

    button:hover {
        border: 4px double black;
    }

}

@media (max-width: 390px) {
    h2 {
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
    }
}