@media (min-width: 390px) {
    .steps {
        /*  margin: 0;*/
        margin-top: 335px;

        width: 1400px;
    }

    .steps>h2 {
        width: 700px;
        height: 53px;
        margin-left: 395px;
    }

    .stepsSpan {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #0d606f;
        margin-top: 30px;
        /*width: 100px;*/
    }

    .steps>div {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }

    .stepsdiv {
        display: flex;
        flex-direction: column;
    }

    .Velo {
        margin-right: 0px;
        margin-left: 110px;
    }

    .Velo>img {
        margin: 0;
        width: 100px;
        height: 100px;
        margin-left: 75px
    }

    .Calendar {
        margin-right: 0px;
        margin-left: 234px;
    }

    .Calendar>img {
        margin: 0;
        width: 100px;
        height: 100px;
        margin-left: 60px;
    }

    .Samalet {
        margin-right: 0px;
        margin-left: 159px;
    }

    .Samalet>img {
        margin: 0;
        width: 100px;
        margin-left: 110px;
        height: 100px;
    }
}

@media (max-width: 390px) {
    .steps {
        /*  margin: 0;*/
        margin-top: 100px;
        width: 390px;
    }

    .steps>div {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }

    .stepsdiv {
        display: flex;
        flex-direction: column;
    }

    .stepsdiv>img {
        width: 70px;
        height: 70px;
    }

    .stepsSpan {
        font-family: 'Aleo';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;

        color: #0D606F;
    }
}