.steps{
    margin-top: 300px;
    width: 1400px;
}

.steps > h2 {
    width: 700px;
    height: 53px;
}
.stepsSpan{
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0d606f;
    margin-top: 50px;
}
.steps>div{
    display: flex;
    flex-direction: row;
}
.stepsdiv{
    display: flex;
    flex-direction: column;
}

