.preview{
    width: 1440px;
}
h1 {
    width: 895px;
    margin-top: 30px;
    margin-left: 120px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 0.7px;
    color: #ffffff;
}
h1 + div {
    /* width: 723px;
    height: 24px; */
    margin-left: 120px;
    margin-top: 33px;

    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
    letter-spacing: 0.5px;
    color: #ffffff;
}
.WhatWould {
    width: 892px;
    height: 95px;
    display: flex;
    flex-direction: row;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
}
.WhatWould > span {
   
    width: 560px;
    height: 22px;

    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #f2785c;
}
.StartPlanning {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 32px;
    gap: 10px;

    width: 228px;
    height: 59px;

    background: #0d606f;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
        0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 1px none black;
}
.StartPlanning > span {
    width: 163px;
    height: 32px;

    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding-top: 5px;
    padding-right: 15px;
   

    color: #ffffff;

    

    flex: none;
    order: 0;
    flex-grow: 0;
}
